body {color: black; background: #ffffff; margin: 0; padding: 0;}
html { scrollbar-face-color: #6FABE6; scrollbar-highlight-color: #323232; scrollbar-shadow-color: #081621; scrollbar-3dlight-color: #000000; scrollbar-arrow-color: #000040; scrollbar-track-color: #ffffff; scrollbar-darkshadow-color: #000000;}
table {width:100%; margin: 5; padding: 5; font-size: small}
table td {padding: 0; border-width: 0; font-family: Tahoma, Helvetica, sans-serif;}
a {color: #000000; text-decoration: none; font-weight: bold; background-color: transparent;}
a:hover {color: #FF0000;}
.menuskin{position: absolute; width:165px; background-color: #72A7DB; border:2px solid black; font:normal 12px Verdana; line-height:18px; z-index:100; visibility:hidden;}
.menuskin a{text-decoration:none; color:black; padding-left:10px; padding-right:10px; }
#mouseoverstyle{background-color:highlight;}
#mouseoverstyle a{color:white;}
td#navbar {font-family: Tahoma; font-size: small;}
.navbar a {color: Black; font-weight: normal}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: square inside; color: #2F5376}
input.formButton {}
.item {}
.itemHead {padding: 3px; color: #000000;}
.itemInfo {text-align: right; padding: 3px; }
.itemTitle a {font-family: Tahoma; font-size: 120%; font-variant: small-caps; color: #FFFFFF; }
.itemPoster {font-size: 90%; font-style:italic;}
.itemPostDate {font-size: 90%; font-style:italic;}
.itemStats {font-size: 90%; font-style:italic;}
.itemBody {padding-left: 5px;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 133%; font-weight: bold;}
.itemFoot {text-align: right; padding: 3px; }
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%;}
th {background-image: url(bgt.jpg); color:#000000; line-height: 200%; padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif;}
td#headerbanner {width: 100%; vertical-align: middle; text-align:center;}
td#leftcolumn {width: 180px; font-size: small;}
td#leftcolumn th {color: #FFFFFF; vertical-align: middle;}
td#leftcolumn div.blockTitle {padding: 3px; color: #000000; font-weight: bold;}
td#leftcolumn div.blockContent {padding: 3px; font-size: smaller; line-height: 120%; line-height: 120%;}
td#centercolumn {font-size: 12px;}
td#centercolumn th {background-image: url(bgt.jpg); line-height: 250%; color: #000000; font-size: smaller; vertical-align: middle;}
td#centerCcolumn {padding: 0px 3px 1px 3px;}
td#centerCcolumn legend.blockTitle {padding: 3px; color: #000000; font-weight: bold; margin-top: 0px; margin-right: 0px; margin-left: 0px;}
td#centerCcolumn div.blockContent { padding: 3px; margin-right: 0px; margin-left: 0px; margin-bottom: 2px; line-height: 120%;}
td#centerLcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerLcolumn legend.blockTitle {padding: 3px; color: #000000; font-weight: bold; margin-top: 0px;}
td#centerLcolumn div.blockContent {padding: 3px; margin-left: 3px; margin-right: 2px; margin-bottom: 2px; line-height: 120%;}
td#centerRcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerRcolumn legend.blockTitle {padding: 3px; color: #000000; font-weight: bold; margin-top: 0px;}
td#centerRcolumn div.blockContent {padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 120%;}
div#content {text-align: left; padding: 8px;}
td#rightcolumn {width: 180px; border-left: font-size:small;}
td#rightcolumn th {color: #000000; vertical-align: middle;}
td#rightcolumn div.blockTitle {padding: 3px; color: #000000; font-weight: bold;}
td#rightcolumn div.blockContent {padding: 3px; line-height: 120%;}
tr#footerbar {text-align:center; background-image: url(hbar.gif);}
td#mainmenu a {display: block; margin: 0; padding: 4px;}
td#mainmenu a:hover {}
td#mainmenu a.menuTop {padding-left: 3px; background-color: #F4F4F4; }
td#mainmenu a.menuMain {font-size: small; padding-left: 3px; background-color: #F4F4F4; }
td#mainmenu a.menuSub {color: #72A7DB; padding-left: 9px; background-color: #F4F4F4; }
td#usermenu a {display: block; margin: 0; padding: 4px; }
td#usermenu a:hover {background-color: #ffffff;}
td#usermenu a.menuTop {}
td#usermenu a.highlight {background-color: #FFC0C0;}
.outer {border: 1px solid black; }
.head {background-color: #6194C7; padding: 5px; font-weight: bold;}
.even {background-image: url(evenbg.gif); padding: 5px;}
.odd {background-image: url(oddbg.gif); padding: 5px;}
.foot {background-color: #DDEDFB; padding: 5px; font-weight: bold;}
tr.even td {background-color: #DDEDFB; padding: 5px;}
tr.odd td {background-color: #F4F4F4; padding: 5px;}
div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}
div.xoopsCode { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}
div.xoopsQuote { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}
.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #2F5376; font-weight:bold; border: 1px solid silver; background-color: #ffffff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #2F5376; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}